.defaultDiv, .popover {
	margin: 7% 25% 5% 25%;
}

p {
	margin: 2em 0 2em 0;
}

.sub, .indent {
	padding-left: 3em;
	padding-right: 6px;
}

.twoSub, .twoIndent {
	padding-left: 6em;
}

.threeSub {
	padding-left: 9em;
}

body {
	font-size: 20px;
	line-height: 24px;
}

h3, .center {
	text-align: center;
}

.btn-group-wrap {
	text-align: center;
	margin-bottom: 0;
}

.btn-group {
	margin: 0 auto;
	text-align: center;
	width: inherit;
	display: inline-block;
}

.btn {
	width: 200px;
}

.popover-content {
	color: blue;
	font-size: 14px;
	margin: 20px 20px 20px 20px;
}

.popover {
	max-width: 300px;
	line-height: 16px;
	font-weight: normal;
}

.arrow {
	margin: 20px 20px 20px 20px;
}

.popover.left {
	margin-left: 325px;
}

.signature {
	margin-left: 60%;
}

.highlight {
	background: #ffff00;
}

.firstSig {
	float: left;
	line-height: 26px;
	margin-bottom: 75px
}

.secondSig {
	float: right;
	line-height: 26px;
	margin-bottom: 75px;
}

.hide {
	visibility: hidden;
}

.explainer {
	font-size: 14px;
	font-style: italic;
	margin: 20px auto auto;
	width: 300px;
}

.autograph {
	font-family: cursive;
}

td {
	padding-left: 25px;
	padding-bottom: 25px;
}

.tdPadRight {
	padding-right: 55px;
}

.tdPadLeft {
	padding-left: 145px;
}

.tdPadLeftHalf {
	padding-left: 55px;
}

.underlineText {
	text-decoration: underline;
}

.topCenter {
	vertical-align: top;
}

.tdNoPadding {
	padding-left: 0;
}

.tdHalfWidth {
	width: 45%;
}

.dividerMargin {
	margin-top: 490px;
}

hr {
	border-top: 1px dotted #333333;
}

table, #cert {
	margin-top: 50px;
}

.boardTable {
	margin-left: 22%;
}

.founderExhibitTable {
	width: 100%;
}

li {
	line-height: 24px;
}

.centered {
	width: 190px;
	margin: 0 auto;
}

.liLeft {
	margin-left: 20%
}

.tile {
	height: 125px;
	width: 125px;
	float: left;
}

.tileShadow {
	-moz-box-shadow: 4px 4px 4px #888;
	-webkit-box-shadow: 4px 4px 4px #888;
	box-shadow: 4px 4px 4px #888;
}

.founding {
	background: rgb(176, 238, 170);
}

.funding {
	background: rgb(123, 201, 132);
}

.operation {
	background: rgb(82, 153, 94);
}

.highlighted {
	-moz-box-shadow: 5px 5px 50px rgb(43, 141, 19);
	-webkit-box-shadow: 5px 5px 5px rgb(43, 141, 19);
	box-shadow: 5px 5px 5px rgb(52, 75, 196);
}

.boxText {
	margin: 40px auto;
}

.widthFix {
	width: 148px;
}

.row-fluid {
	margin-bottom: 3%;
}

.landingHeader {
	margin: 6% auto 1% auto;
	width: 555px;
}

.home-btn {
	margin: -4% 4%;
	position: fixed;
	width: 100px;
}

.italic {
	font-style: italic;
}

.dividerMargin300 {
	margin-top: 300px;
}

.smallDividerMargin {
	margin-top: 150px;
}

.rightAlign {
	float: right;
	margin-right: 20%;
}

.founderTable {
	margin-left: 3em;
}

.floatRight {
	float: right;
}

 #seed {
   margin: 0px 0px 0px 0px;
   text-shadow: none;
   font-family:"oswald";
   font-weight: bold;
   font-size: 35px;
   color: #3c8547;
   line-height: 40px;
 }

 #change {
   margin: 10px 0px 0px 0px;
   text-shadow: none;
   font-family:"oswald";
   font-weight: bold;
   font-size: 35px;
   color: #8B9090;
   line-height: 40px;
 }

 #tm {
 	vertical-align: top;
 	font-size: 14px;
 	color: #8B9090;
 }

 .navbar {
   height: 60px;
 }
 .navbar .navbar-inner {
   background: rgba(255, 255, 255, 0.960784);
   border: none;
   height: 60px;
   padding-left: 20px;
   padding-right: 20px;
 }
.navbar .navbar-inner .brand {
   margin: 0px 0px 0px -15px;
   text-shadow: none;
   font-family:"oswald";
   font-weight: bold;
   font-size: 24px;
   color: #3c8547;
   line-height: 40px;
 }

 .nav-pills > li > a {
	margin-top: 15px;
	font-size: 18px;
}

.navbar .nav > li > a {
	color: rgb(15, 47, 213);
}

.container-fluid.container-fluid-5 {
   background: rgb(236, 241, 235);
   font-size: 14px;
   height: 75px;
}

.topMarginFooter {
	margin-top: 25px;
}

