.defaultDiv, .popover {
	margin: 7% 25% 5% 25%;
}

p {
	margin: 2em 0 2em 0;
}

.sub, .indent {
	padding-left: 3em;
	padding-right: 6px;
}

.twoSub, .twoIndent {
	padding-left: 6em;
}

body {
	font-size: 20px;
	line-height: 24px;
}

h3, .center {
	text-align: center;
}

.btn-group-wrap {
	text-align: center;
	margin-bottom: 0;
}

.btn-group {
	margin: 0 auto;
	text-align: center;
	width: inherit;
	display: inline-block;
}

.btn {
	width: 200px;
}

.popover-content {
	color: blue;
	font-size: 14px;
	margin: 20px 20px 20px 20px;
}

.popover {
	max-width: 300px;
	line-height: 16px;
	font-weight: normal;
}

.arrow {
	margin: 20px 20px 20px 20px;
}

.popover.left {
	margin-left: 325px;
}

.signature {
	margin-left: 60%;
}

.highlight {
	background: #ffff00;
}

.firstSig {
	float: left;
	line-height: 26px;
	margin-bottom: 75px
}

.secondSig {
	float: right;
	line-height: 26px;
	margin-bottom: 75px;
}

.hide {
	visibility: hidden;
}

.explainer {
	font-size: 14px;
	font-style: italic;
	margin: 20px auto auto;
	width: 300px;
}

.autograph {
	font-family: cursive;
}

td {
	padding-left: 25px;
	padding-bottom: 25px;
}

.tdPadRight {
	padding-right: 55px;
}

.tdPadLeft {
	padding-left: 145px;
}

.underlineText {
	text-decoration: underline;
}

.topCenter {
	vertical-align: top;
}

.tdNoPadding {
	padding-left: 0;
}

.dividerMargin {
	margin-top: 490px;
}

hr {
	border-top: 1px dotted #333333;
}

table, #cert {
	margin-top: 50px;
}

.boardTable {
	margin-left: 22%;
}

li {
	line-height: 24px;
}

.centered {
	width: 190px;
	margin: 0 auto;
}

.liLeft {
	margin-left: 20%
}

.tile {
	height: 125px;
	width: 125px;
	float: left;
}

.tileShadow {
	-moz-box-shadow: 4px 4px 4px #888;
	-webkit-box-shadow: 4px 4px 4px #888;
	box-shadow: 4px 4px 4px #888;
}

.founding {
	background: rgb(216, 221, 223);
}

.funding {
	background: rgb(165, 193, 216);
}

.operation {
	background: rgb(114, 162, 201);
}

.highlighted {
	-moz-box-shadow: 5px 5px 50px rgb(43, 141, 19);
	-webkit-box-shadow: 5px 5px 5px rgb(43, 141, 19);
	box-shadow: 5px 5px 5px rgb(43, 141, 19);
}

.boxText {
	margin: 40px auto;
}

.widthFix {
	width: 148px;
}

.row-fluid {
	margin-bottom: 3%;
}

.landingHeader {
	margin: 4% auto 1% auto;
	width: 555px;
}

.home-btn {
	margin: -4% 4%;
	position: fixed;
	width: 100px;
}

.italic {
	font-style: italic;
}

.dividerMargin300 {
	margin-top: 300px;
}