<template name="incorp">
	<div id="incorpText">
		<h3><a href="#" class="popped" rel="popover" data-trigger="click" data-placement="left" data-content="After filing the certificate of incorporation, the next step in the organizational process for the company is to appoint its board of directors. Until the board is named, the company's incorporator has the sole authority to act on behalf of the corporation.  The action by incorporator names the board and adopts the company's bylaws as well. This action is necessary even if the incorporator will serve as the sole member of the board.">Action By Incorporator of Acme Inc.</a></h3>

			<p class="centered"><b>December 20, 2012</b></p>

			<p>
				<span class="indent">In accordance with Section 108(a) of the Delaware General Corporation Law, the undersigned, being the sole Incorporator of Acme Inc., a Delaware corporation (the <b>"Company"</b>), adopts the following resolutions with respect to the initial organization of the corporation: </span>
			</p>

			<p> 
				<a href="#" class="popped" rel="popover" data-trigger="click" data-placement="left" data-content="The incorporator will adopt the initial bylaws, which detail procedures affecting the company's governance and operation."><i><b>Adoption of Bylaws</b></i></a>
			</p>

			<p class="sub">
				<b><u>RESOLVED</b></u>: The Bylaws attached to this Action by Incorporator are hereby adopted as the Bylaws of the Company.
			</p>

			<p class="sub">
				<b><u>RESOLVED FURTHER</b></u>: The Secretary of the Company is authorized and directed to keep an executed copy of the Bylaws and insert it in the Company's record book or electronic folder and the officers of the Company are ordered to maintain a copy of such Bylaws.
			</p>

			<p> 
				<a href="#" class="popped" rel="popover" data-trigger="click" data-placement="left" data-content="The incorporator will appoint the initial directors – usually the founders."><i><b>Election of Directors</b></i></a>
			</p>

			<p class="sub">
				<b><u>RESOLVED</b></u>: The following individuals are appointed as directors of the Company, to serve as directors until their successors are duly elected and qualified:
			</p>

			<ul class="sub">
				<li class="liLeft">John Doe</li>
				<br>
				<li class="liLeft">Jessica Acme Jr.</li>
				<br>
				<li class="liLeft">Hank Carson</li>
			</ul>

			<p>
				<span class="indent">This Action by Incorporator will be filed in the record book or electronic folder of the Company and is effective as of the date written above.</span>
			</p>

			<p class="signature">
				<span><b>Acme Inc.</b></span><br>
				<br>
				<span class="autograph">John Doe</span><br>
				<span>Name: John Doe</span><br>
				<span>Title: Incorporator</span>
			</p>

	</div>
</template>