<template name="investors">

	<div id="investorText">
	<hr id="invDivider">
	<h3><a name="exhibitA"></a>Exhibit A: Schedule of Investors</h3>

		<table>
			<tr class="underlineText">
				<td class="tdNoPadding">Name</td>
				<td>Address</td>
				<td>Email</td>
				<td>Amount</td>
			</tr>

			<tr class="topCenter">
				<td class="tdNoPadding">Jane Doe</td>
				<td>435 Genova St. <br>
					Woodside, CA 94616
				</td>
				<td>jane.doe@stanfordalumni.org</td>
				<td>$30,000</td>
			</tr>

			<tr class="topCenter">
				<td class="tdNoPadding">Stephanie Thomas</td>
				<td>766 California St. <br>
					San Francisco, CA 90526
				</td>
				<td>stepht@yahoo.com</td>
				<td>$100,000</td>
			</tr>

			<tr class="topCenter">
				<td class="tdNoPadding">Cynthia Chao</td>
				<td>989 Brannan <br>
					Chicago, IL 60608
				</td>
				<td>cchao@gmail.com</td>
				<td>$55,000</td>
			</tr>

			<tr class="topCenter">
				<td class="tdNoPadding">Vijay Srinasar</td>
				<td>7734 8th Avenue <br>
					New York, NY 10011
				</td>
				<td>bob.jones@gmail.com</td>
				<td>$25,000</td>
			</tr>

			<tr class="topCenter">
				<td class="tdNoPadding">Tricia Powers</td>
				<td>4343 Madison Circle <br>
					Bel Air, CA 90221
				</td>
				<td>tricia@gmail.com</td>
				<td>$125,000</td>
			</tr>

			<tr class="topCenter">
				<td class="tdNoPadding">Robert McClellan</td>
				<td>899 Oceanview<br>
					La Jolla, CA 92038
				</td>
				<td>robmc@hotmail.com</td>
				<td>$70,000</td>
			</tr>
		</table>
	</div>		

</template>