<template name="investors">
	<head>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-41127556-1', 'meteor.com');
			ga('send', 'pageview');
		</script>
	</head>

	<button type="button" class="btn btn-info home-btn">Home</button>

	<div id="investorText" class="defaultDiv">
	<hr class="dividerMargin">
	<h3><a name="exhibitA"></a>Exhibit A: Schedule of Investors</h3>

		<table>
			<tr class="underlineText">
				<td class="tdNoPadding">Name</td>
				<td>Address</td>
				<td>Email</td>
				<td>Amount</td>
			</tr>

			<tr class="topCenter">
				<td class="tdNoPadding">Jane Doe</td>
				<td>435 Genova St. <br>
					Woodside, CA 94616
				</td>
				<td>jane.doe@stanfordalumni.org</td>
				<td>$30,000</td>
			</tr>

			<tr class="topCenter">
				<td class="tdNoPadding">Stephanie Thomas</td>
				<td>766 California St. <br>
					San Francisco, CA 90526
				</td>
				<td>stepht@yahoo.com</td>
				<td>$100,000</td>
			</tr>

			<tr class="topCenter">
				<td class="tdNoPadding">Cynthia Chao</td>
				<td>989 Brannan <br>
					Chicago, IL 60608
				</td>
				<td>cchao@gmail.com</td>
				<td>$55,000</td>
			</tr>

			<tr class="topCenter">
				<td class="tdNoPadding">Vijay Srinasar</td>
				<td>7734 8th Avenue <br>
					New York, NY 10011
				</td>
				<td>vijays@ctkpartners.com</td>
				<td>$25,000</td>
			</tr>

			<tr class="topCenter">
				<td class="tdNoPadding">Tricia Powers</td>
				<td>4343 Madison Circle <br>
					Bel Air, CA 90221
				</td>
				<td>tricia@gmail.com</td>
				<td>$125,000</td>
			</tr>

			<tr class="topCenter">
				<td class="tdNoPadding">Robert McClellan</td>
				<td>899 Oceanview<br>
					La Jolla, CA 92038
				</td>
				<td>robmc@hotmail.com</td>
				<td>$70,000</td>
			</tr>
		</table>
	</div>		

</template>