<template name="landing">

	<div class="tileContainer">

		<div class="row-fluid">
			<h1 class="landingHeader">Select a document to explore:</h1>
		</div>

		<div class="row-fluid center">
			<span class="span2 offset2">Company Setup</span>
			<span class="span2 offset1">Funding</span>
			<span class="span2 offset1">Operations</span>
		</div>

		<div class="row-fluid">

			<div id="incorpNav" class="tile founding tileShadow span2 offset2">
				<div class="boxText center">Action by Incorporator</div>
			</div>

			<div id="noteNav" class="tile funding tileShadow span2 offset1">
				<div class="boxText center widthFix">Convertible Note</div>
			</div>

			<div id="consultingNav" class="tile operation tileShadow span2 offset1">
				<div class="boxText center">Independent Contractor Agreement</div>
			</div>

		</div>
				
		<div class="row-fluid">

			<div id="certNav" class="tile founding tileShadow span2 offset2">
				<div class="boxText center">Certificate of Incorporation</div>
			</div>

			<div id="npaNav" class="tile funding tileShadow span2 offset1">
				<div class="boxText center">Note Puchase Agreement</div>
			</div>

			<div id="employmentNav" class="tile operation tileShadow span2 offset1">
				<div class="boxText center">Employment Offer Letter</div>
			</div>

		</div>
		
		<div class="row-fluid">

			<div id="bylawsNav" class="tile founding tileShadow span2 offset2">
				<div class="boxText center">Bylaws</div>
			</div>

			<div id="escrowNav" class="tile funding tileShadow span2 offset1">
				<div class="boxText center">Escrow Agreement</div>
			</div>

			<div id="ndaNav" class="tile operation tileShadow span2 offset1">
				<div class="boxText center">NDA</div>
			</div>

		</div>

		<div class="row-fluid">

			<div id="foundersNav" class="tile founding tileShadow span2 offset2">
				<div class="boxText center">Founders' Agreement</div>
			</div>

			<div id="inventionNav" class="tile operation tileShadow span2 offset4">
				<div class="boxText center">Invention Assignment Agreement</div>
			</div>

		</div>

		<div class="row-fluid">

			<div id="shConsentNav" class="tile founding tileShadow span2 offset2">
				<div class="boxText center widthFix">Shareholders' Consent</div>
			</div>

			<div id="advisorNav" class="tile operation tileShadow span2 offset4">
				<div class="boxText center">Advisor Agreement</div>
			</div>
			
		</div>

		<div class="row-fluid">

			<div id="boardNav" class="tile founding tileShadow span2 offset2">
				<div class="boxText center widthFix">Board Consent</div>
			</div>
			
		</div>

		<div class="row-fluid">

			<div id="indemnificationNav" class="tile founding tileShadow span2 offset2">
				<div class="boxText center widthFix">Indemnification Agreement</div>
			</div>
			
		</div>

		<div class="row-fluid">

			<div id="rspaNav" class="tile founding tileShadow span2 offset2">
				<div class="boxText center widthFix">Restricted Stock Purchase Agreement</div>
			</div>
			
		</div>

	</div>

</template>