<template name="landing">

	<h1 class="landingHeader">What do you want to explore?</h1>

	<div id="tiles" class="tileContainer">

		<span class="column">Company Setup</span>
		<span class="column">Funding</span>
		<span class="column">Operations</span>

		<div class="tileColumn">

			<div id="certNav" class="tile amarelo tileShadow">
				<span>Certificate of Incorporation</span>
			</div>
			<div id="noteNav" class="tile azul tileShadow">
				<span>Convertible Note</span>
			</div>
			<div id="contractorNav" class="tile amarelo tileShadow">
				<span>Independent Contractor Agreement</span>
			</div>

		</div>
				
		<div class="tileColumn">

			<div id="bylawsNav" class="tile amarelo tileShadow">
				<span>Bylaws</span>
			</div>
			<div id="npaNav" class="tile azul tileShadow">
				<span>Note Puchase Agreement</span>
			</div>
			<div id="employmentNav" class="tile amarelo tileShadow">
				<span>Employment Agreement</span>
			</div>

		</div>
		
		<div class="tileColumn">

			<div id="foundersNav" class="tile amarelo tileShadow">
				<span>Founders' Agreement</span>
			</div>
			<div id="escrowNav" class="tile azul tileShadow">
				<span>Escrow Agreement</span>
			</div>
			<div id="ndaNav" class="tile amarelo tileShadow">
				<span>NDA</span>
			</div>

		</div>

	</div>

</template>