<template name="rspa">
	<head>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-41127556-1', 'meteor.com');
			ga('send', 'pageview');
		</script>
	</head>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="brand">
        	<span id="seed">seed</span><span id="change">change</span><span id="tm">®</span>
        </div>
		<ul class="nav nav-pills pull-right">
              <li id="faqNav">
                <a href="http://seed-change.com/blog">Blog</a>
              </li>
              <li id="companyNav">
                <a href="http://seedchange.meteor.com">Get Funded</a>
              </li>
            </ul>
      </div>
    </div>
    
	<div id="rspaText" class="defaultDiv">

		<h3><b>Acme Inc. <br>
			<br>
			Restricted Stock Purchase Agreement</b></h3>

		<p>
			Acme Inc. (the <b>"Company"</b>) and the Shareholder agree to the following in connection with the issuance of the Company's common stock specified below (the <b>"Shares"</b>). The <a href="#terms">attached terms and conditions</a> are a part of this <a href="#" class="popped" rel="popover" data-trigger="click" data-placement="left" data-content="Restricted stock is the main mechanism by which a founding team will make sure its members earn their sweat equity. It is fundamental for startups to understand how it works – restricted stock vests over time and is forfeited if a founder or employee leaves the company before the stock has vested.">Agreement</a>.
		</p>

		<p>
			<b>Name</b> (the <b>"Shareholder"</b>): <span class="rightAlign">John Doe</span>
		</p>

		<p>
			<b>Date</b>: <span class="rightAlign">January 2, 2013</span>
		</p>

		<p>
			<b>Number of Shares Issued</b>: <span class="rightAlign">4,500,000</span>
		</p>

		<p>
			<b>Purchase Price per Share</b>: <span class="rightAlign">$0.0001</span>
		</p>

		<p>
			<b>Number of Shares <a href="#" class="popped" rel="popover" data-trigger="click" data-placement="left" data-content="Vesting is the process through which you acquire an absolute right to stock regardless of what happens to your relationship with the company. Unvested stock is subject to forfeiture if you no longer work for the company.">Vested </a>on <br>the Vesting Start Date</b>: <span class="rightAlign">1,125,000</span>
		</p>

		<p>
			<b>Number of Shares Unvested on <br>the Vesting Start Date</b>: <span class="rightAlign">3,375,000</span>
		</p>

		<p>
			<b><a href="#" class="popped" rel="popover" data-trigger="click" data-placement="left" data-content="This is typically known as a 'cliff' – it represents the minimum period of time that must elapse before your equity begins to vest. If you leave the company before the cliff you will not keep any equity in the company.">Vesting Start Date</a></b>: <span class="rightAlign">January 3, 2014</span>
		</p>

		<p>
			<b><a href="#" class="popped" rel="popover" data-trigger="click" data-placement="left" data-content="Vesting schedules incentivize people to remain with the company for the duration of their vesting period. Here, the minimum amount of time to earn any shares is one year, at which time the holder receives 25% of the grant. If the person remains with the company over the next three years, he or she will receive 1/36th of the remaining shares each month.">Vesting Schedule</a></b> (subject to acceleration as provided in this Agreement):
		</p>

		<p class="sub">
			<span class="indent">The Shares will vest over a period of four years. 25% of the Shares will vest on the one-year anniversary of this Agreement and the Unvested Shares (as defined below) will vest over three years, at a rate of 1/36 of the Shares each month after the Vesting Start Date, until the third anniversary of the Vesting Start Date when, subject to the vesting conditions in this Agreement, all remaining Unvested Shares will vest.</span>
		</p>

		<p class="sub">
			<span class="indent">All vesting is dependent on the continuation of the Shareholder's Business Relationship (as defined below) with the Company on the applicable vesting date and Unvested Shares and Vested Shares are subject to certain transfer restrictions as provided in this Agreement.</span>
		</p>

		<span class="firstSig">
			<span><b>ACME INC.</b></span><br>
			<br>
			<span class="autograph">Hank Carson</span><br>
			<br>
			<span>Name: Hank Carson</span><br>
			<br>
			<span>Title: Secretary</span><br>
			<br>
			<span>Address: </span><br>
			<br>
			<span class="indent">1244 Commerce Drive</span><br>
			<span class="indent">Mountain View, CA 92004</span><br>
			<br>
			<span>Email: hank.carson@acme.com</span>
		</span>

		<span class="secondSig">
			<span><b>SHAREHOLDER</b></span><br>
			<br>
			<span class="autograph">John Doe</span><br>
			<br>
			<span>Name: John Doe</span><br>
			<br>
			<span>Title: CEO</span><br>
			<br>
			<span>Address: </span><br>
			<br>
			<span class="indent">5050 Harvard Ave.</span><br>
			<span class="indent">Palo Alto, CA 94301</span><br>
			<br>
			<span>Email: john.doe@acme.com</span>
		</span>
		
		{{> rspaTerms}}

</template>