<template name="shConsent">

	<a href="/#">
		<button type="button" class="btn btn-info home-btn">Home</button>
	</a>
	
	<div id="shConsentText" class="defaultDiv">
		<h3><a href="#" class="popped" rel="popover" data-trigger="click" data-placement="left" data-content="Certain issues require shareholder approval. Since the founders hold the overwhelming majority (if not all) of the voting stock, it’s easier to make shareholder decisions via written consent than to call a meeting and cast votes.">Action By Written Consent of the Shareholders of Acme Inc.</a></h3>

			<p class="centered"><b>December 20, 2012</b></p>

			<p>
				<span class="indent">Pursuant to Section 228 of Delaware's General Corporation Law and the Bylaws of Acme Inc., a Delaware corporation (the "Company"), the Company's shareholders take the following actions and adopt the following resolutions by written consent. This written consent will be filed in the Company’s minute book or electronic folder. </span>
			</p>

			<p> 
				<a href="#" class="popped" rel="popover" data-trigger="click" data-placement="left" data-content="Shareholders ultimately benefit when the business succeeds. All successful businesses have talented leaders who take calculated risks. Entering into indemnification agreements with directors and executive officers allows the company to recruit talented directors and officers and empowers them to make decisions."><i><b>Indemnification Agreements</b></i></a>
			</p>

			<p class="sub">
				<b><u>RESOLVED</b></u>: It is in the best interests of the Company and its shareholders that the Company enter into indemnification agreements with its present and future officers and directors.
			</p>

			<p class="sub">
				<b><u>RESOLVED FURTHER</b></u>: The Company will enter into Indemnification Agreements with its officers and directors in substantially the form attached as <u><a href="/indemnification"> Exhibit A</a></u>.
			</p>

			<p class="sub">
				<b><u>RESOLVED FURTHER</b></u>: The Company's officers are authorized to execute Indemnification Agreements on behalf of the Company and to take any action necessary to perform the Company's obligations under the agreements.
			</p>

			<p> 
				<a href="#" class="popped" rel="popover" data-trigger="click" data-placement="left" data-content="The incorporator will appoint the initial directors – usually the founders."><i><b>Omnibus Resolution</b></i></a>
			</p>

			<p class="sub">
				<b><u>RESOLVED</b></u>: The Company's officers are authorized and empowered to take any other actions and sign any other documents they deem necessary or advisable to carry out the intent of these resolutions. All prior actions taken to achieve these objectives are ratified and approved.
			</p>

			<p>
				<span class="indent">This Action by Written Consent is effective as of the date listed above and may be executed in written or electronic counterparts, each of which is an original and all of which together are one instrument.</span>
			</p>

			<p class="signature">
				<span class="autograph">John Doe</span><br>
				<span>Name: John Doe</span><br>
				<span>Title: Shareholder</span>
			</p>

			<p class="signature">
				<span class="autograph">Jessica Acme Jr.</span><br>
				<span>Name: Jessica Acme Jr.</span><br>
				<span>Title: Shareholder</span>
			</p>

			<p class="signature">
				<span class="autograph">Hank Carson</span><br>
				<span>Name: Hank Carson</span><br>
				<span>Title: Shareholder</span>
			</p>

			<hr>

	</div>
</template>
